<div class="container m-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Búsqueda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a routerLink="home-admin" class="nav-link" class="nav-link">Menú</a>
                </li>
                <li class="nav-item active">
                    <a routerLink="controlador" class="nav-link" class="nav-link">Controlador</a>
                </li>
                <li class="nav-item active">
                    <a routerLink="login" class="nav-link" class="text-danger">Salir</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="buscar()">
        <div class="form-group row">
            <label class="col-4 col-form-label">Correo</label>
            <div class="col">
                <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="mail" [class.is-invalid]="mailNoValido">
                <small *ngIf="mailNoValido" class="text-danger">Ingrese el correo</small>
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group col">
                <button type="submit" class="btn btn-outline-primary btn-block">Buscar</button>
            </div>
        </div>

    </form>